<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Small Flas with CSS</title>
<style>
body {
    background-color: rgb(20, 40, 60);
    color: white;
    font-size: 1.3em;
    font-family: "Helvetica", "Arial", sans-serif;
}
a {
    color: rgb(255, 111, 111);
}
</style>
</head>
<body>
<h1>Small CSS</h1>
<h3>Hello, World Wide Web!</h3>
<p>This is my first website.</p>

<h2>About me <a href="#">Something for me</a></h2>

<p>I'm a Python programmer and a bug collector.</p>

<h3>Random facts</h3>

<p>I don't just like emoji,
I love emoji!</p>
<p>My most-used emoji are:</p>
<ol>
    <li>🐞</li>
    <li>🐍</li>
    <li>👍</li>
</ol>
<h2>Links</h2>

<p>My favorite websites are:</p>
<ul>
    <li><a href="#">realpython.com</a></li>
    <li><a href="#">python.org</a></li>
    <li><a href="#">pypi.org</a></li>
</ul>
</body>
</html>